<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<link rel="stylesheet" href="test.css" type="text/css" />-->
<form action="/user/loginUser" method="post">
    请输入用户名--：<input type="text" name="user_name" id="user_name"/><br>
    请你输入密码--：<input type="password" name="passwd" id="passwd"/><br>
    <input type="submit" value="Login"/>
    <a href="/user/toRegister">--注册--</a>
</form>

</body>
</html>